* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Roboto, Arial, Sans-serif;
    font-size: 15px;

    display: flex;
    flex-direction: column;
}

.content {
    background-color: #f8f7f0;
    flex: auto;

    display: flex;
    flex-direction: column;
}
/* All Header stuff */
.header {
    display: flex;
}
/* 
.logo {
    margin-right: auto;

    font: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;

    gap: 16px;
}

a {
    text-decoration: none;
    font: 18px;
    color: #e5e7eb;
} */



/* HERO */
.background-hero { 
    background-color: #e5cdcd;
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 35px; */
}
.intro {
    height: 150px;
    width: 350px;
    background-color: white;
}
.image {
    height: 150px;
    width: 350px;
    background-color: rgb(167, 112, 112);
}



/* CARDS */
.background-cards {
    background-color: #c9dfaa;
    text-align: center;
    flex: auto;

    /* display: flex; */
}

.cards-header {
    font-size: 24px;
    margin: 15px 0px;
}

/* conatiner for nested .card container  */
.wallet {
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 52px;
}

/* centers the div over text */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder-img {
    height: 150px;
    width: 150px;

    border: blue solid 4px;
    border-radius: 15px;
}
.info {
    max-width: 150px;
}


/* QUOTE  */
.background-quote {
    background-color: antiquewhite;
    flex: auto;
    /* aligns container around quote/author */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 15px;
}
.quote-container {
    max-width: 70vw;
    /* enables 'author' to align to end  */
    display: flex;
    flex-direction: column;
}
.quote {
    max-width: 50vw;
    font-size: 20px;
}
.author {
    align-self: flex-end;
    font-size: 15px;
}


/* CALL TO ACTION */
.background-cta {
    background-color: #b0aadf;
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #3f8ae6;
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.cta-header {
    font-size: 20px;
}
.cta-subheader {
    color: wheat;
}

/* .footer {
    background-color: #1F2937;
    min-height: 10vhpx;
} */ 