* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 150vh;
    font-family: Roboto, Arial, Sans-serif;
    font-size: 15px;

    display: flex;
    flex-direction: column;
}

.content {
    background-color: #f8f7f0;
    flex: auto;

    display: flex;
    flex-direction: column;
}
/* All Header stuff */
.header {
    background-color: #1F2937;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo {
    color: #e5e7eb;
    font-size: 24px;
    margin-right: auto;
    /* font: 24px;
    color: #f9faf8; */
}

ul {
    list-style: none;
    /* flattens ul  */
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font: 18px;
    color: #dee3ec;
} 



/* HERO */
.background-hero { 
    background-color: #1F2937;
    flex: auto;
    padding-bottom: 50px;
    /* center the content container  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    width: 900px;
    height: 200px;
}

.intro {
    flex: 1;
    padding: 15px;
}
.image {
    flex: 1;
    border: black solid 1px;
    background-color: gray;
    /* temp: center placeholder text  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 36px;
}
.subtext {
    font-size: 16px;
    color: #e5e7eb;
    margin-bottom: .8em;
}
.sign-up-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* there's a weird border without this thing */
    border: #3882F6 solid 0px;
    border-radius: .3em;
}


/* CARDS */
.background-cards {
    background-color: white;
    text-align: center;
    flex: auto;
}

.cards-header {
    font-size: 26px;
    font-weight: bold;
    margin: 25px;
}

/* conatiner for nested .card container  */
.wallet {
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 52px;
}
/* centers the div over text */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder-img {
    height: 150px;
    width: 150px;

    border: #3882F6 solid 4px;
    border-radius: 15px;
    /* temp center placeholder text */
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    max-width: 150px;
    color: #77797d;
}


/* QUOTE  */
.background-quote {
    background-color: #e5e7eb;
    flex: auto;
    /* aligns container around quote/author */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 15px;
}
.quote-container {
    max-width: 70vw;
    /* enables 'author' to align to end  */
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #4d545f;
}
.author {
    font-size: 22px;
    font-weight: bold;
    color: #2a3546;

    margin-right: 35px;
    align-self: flex-end;
}


/* CALL TO ACTION */
.background-cta {
    background-color: #b0aadf;
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #3f8ae6;
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.cta-header {
    font-size: 20px;
}
.cta-subheader {
    color: wheat;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}